.App {
  background-color: #eee;
  width: 100vw;
  height: 100vh;

}

.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  position: relative;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  min-width: 200px;

}